@import url('https://fonts.googleapis.com/css?family=Tangerine');

.connect {
  display : flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(white,80%,black);
}

.logo {
  width: 200px;
  height: 120px;
  margin: auto auto 0px auto;
}

.presentation{
  color : #fc9200;
  font-size: 0.75em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 0px;
  margin-bottom: 50px;
}

.boutonGoogle{
  color:#fc9200;
  display: flex;
  width: 200px;
  margin: 20px auto auto auto;
  font-size: 12px;
  border : solid #fc9200 2px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
