.connect {
  display : flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.2);
}

.logo {
  width: 200px;
  height: 120px;
  margin: auto auto 0px auto;
}

.presentation{
  color : #fc9200;
  font-size: 0.75em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 0px;
  margin-bottom: 50px;
}

.boutonGoogle{
  color:#fc9200;
  display: flex;
  width: 200px;
  margin: 20px auto auto auto;
  font-size: 12px;
  border : solid #fc9200 2px;
}

.entete{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border : solid black 2px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}

.identite{
 margin-right: 50px;
 font-size: 8px;
}

.identite > span {
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}

.corps{
  display: flex;
  width: 100%;
  margin: 5px 5px 5px 0px;
}

.corps > div {
  background: rgba(0,0,0,0.6);
  padding : 10px;
  flex : 4;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0);
}

aside {
  width: 20vw;
  height: auto;
  margin: 5px;
  font-size: 2em;
  flex : 1;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  padding: 10px;
  border-radius: 10px;
  background: rgba(252,146,0,0.5);
  box-shadow: 2px 2px 5px rgba(252,146,0);
  cursor: pointer;
}

aside > p {
  text-align: center;
  display:flex;
}

aside > p:hover {
  color: rgba(255,255,255);
  text-shadow: 2px 2px 5px white;
  text-decoration : underline ;
}

.icone {
  margin :2px;
}

.Songtitle {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis; 
  height: 27px;
  margin: 0px;
  text-shadow: 2px 2px 5px black;
}

.artist {
  margin : 0px;
  font-weight: 100;
  font-style: oblique;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center; 
  height: 18px;
}

.albumImage {
  width: 60%;
  border-radius: 136px;
}

.track {
  padding: 5px;
  display : flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
  justify-content: space-around;
  border : solid 2px black;
  border-radius: 10px;
  margin: 10px;
  width: 250px;
  box-shadow: 2px 2px 5px black;
}

.track:hover {
  border : solid 2px whitesmoke;
  color: whitesmoke;
  box-shadow: 2px 2px 5px whitesmoke;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height : 60vh;
}

.selection {
  display : flex;
  justify-content: space-around;
  color :black;
  font-size: 14px;
  font-weight: bold;
}

select {
  width: 200px;
  height: 25px;
  font-style: italic;
}

label {
  color:#fc9200;
  font-style: italic;
}

button {
  color: #fc9200;
  background: white;
  font-weight: bolder;

}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
